<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <title>ng-bangalore | ng-lovers</title>
   
    <link href="/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
      
    <script src="/jquery-3.0.0.min.js"></script> 
    <script src="/typed.min.js"></script> 
   </head>
    
  <body>
      <br/><br/><br/><br/><br/><br/><br/><br/>
   
  <div class="container">
    <div class="row">
        <div class="text-center col-md-12">
            
            <span style="color:white;font-size:40px">$ </span>
            <span style="color:white;font-size:40px" id="typed"></span>
        </div>
    </div>
      
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
     <div>
         <span style="font-size:15px">
         Crafted in Bangalore by 
          <a style="color:white" href="https://twitter.com/alammahtab08" target="_blank">@alammahtab08</a></span>  
     </div>
      
  </div>
      
      
      <script>
        $(function(){

		$("#typed").typed({
			strings: ["Oh.. you love Angular ", "Oh.. we love Angular too! ", 
                      "Wanna build something awezome ... ","Ya.. why not ",
                      "&lt;ng-soon&gt; Stay tuned ... &lt;/ng-soon&gt; "],
			contentType: 'html',typeSpeed: 20, backDelay: 1500});
        });      
      </script>
    
  </body>
</html>